body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: blue;
    background-image: url("mamba.png");
}

main {
    flex: 1 0 auto;
}

h1 {
    color: white;
}

h2 {
    color: white;
}
/*Blog posts*/

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    margin-bottom: 10px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #FF00FF;
    font-style:italic;
}